 .shapka {
    background-color: rgb(146, 171, 219);
    display: flex;
    width: auto;
    align-items: center;

 }
 .anapa-aib {
  justify-content: flex-start;
  color: white;
  padding: 7px;
  margin-right: auto;
 }
 .container-1 a {
    color: white;
    padding: 7px;
    
 }
 
 .block-main {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 5px;
    width: 270px;
    height: 800px;

    
    
 }
 .block-categoriy-shapka {
    display: flex;
    background-color: darkslateblue;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
      
 }
 .block-categoriy {
    background-color: rgb(40, 123, 201);
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    height: 700px;

     
 }
 .block-categoriy a {
 
    color: #fff;

 }
 .container1 {
   display: flex;
   height:auto;
   width: auto ;
    
 
 }
 .content {
   height: 600px;
   width: 750px;
   margin-top: 40px;

 }
 .container{
   
   display: flex;
   justify-content: space-around;
 }
 
 
 