
{% extends 'base.html' %}
{%block title%}Наши категории{%endblock%}
{% block content %}
<img style = "position: absolute; z-index: -1;" src = "/static/москва-хеллоу.jpg" width="100%"  /> 
<div class="text-center border-bottom h1">
    Категории
</div>
<div class="col text-center">
  <div class="border-bottom"><a href="/category/new" class="btn btn-primary ">Добавить</a></div>
</div>
  <div class="container background" >
   
    <div class="nav-scroller border-bottom  py-1 mb-3">
    <nav class="nav  nav-underline justify-content-between">
      <div class="dropdown">

        <button  class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Квартиры
        </button>

        <ul class="dropdown-menu">
          {% for category in categorys %}
            <li><a class="dropdown-item" href="#">{{category.title}}</a></li>
          {% endfor %}
          <!--
          <li><a class="dropdown-item" href="#">Малосемейка</a></li>
          <li><a class="dropdown-item" href="#">Квартиры свободной планировки</a></li>
          <li><a class="dropdown-item" href="#">Квартиры-студии</a></li>
          <li><a class="dropdown-item" href="#">Однокомнатные квартиры</a></li>
          <li><a class="dropdown-item" href="#">Двухкомнатные квартиры</a></li>
          <li><a class="dropdown-item" href="#">Трехкомнатные квартиры</a></li>-->
        </ul>
      </div>
      {% for category in categorys %}
        <a href='category/{{category.id}}'  class="nav-item nav-link link-underline link-body- active ">{{category.title}}</a>
      {% endfor %}
       
       
    </div>
   

  
 

{% endblock %}