{% extends 'base.html' %}

{% block content %}
<div class="nav-scroller border-bottom  py-1 mb-3">
  <nav class="nav  nav-underline justify-content-between">
  {% for category in categorys %}
  <a href='/category/{{category.id}}'  class="nav-item nav-link link-underline link-body- active ">{{category.title}}</a>
  {% endfor %}
</nav>
</div>
  <h1>Удаление записи</h1>
  <div class="col-6 mx-auto form-control">
  <p>Вы действительно хотите удалить "{{ category.title }}"?</p>
  <form method="POST">
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="/category/{{category.id}}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
{% endblock %}