{% extends 'base.html' %}

{% block content %}
<div class="nav-scroller border-bottom  py-1 mb-3">
  <nav class="nav  nav-underline justify-content-between">
  {% for category in categorys %}
  <a href='/category/{{category.id}}'  class="nav-item nav-link link-underline link-body- active ">{{category.title}}</a>
  {% endfor %}
</nav>
</div>
  <h1 class="text-center border-bottom">Редактирование записи</h1>
  <div class="col-6 mx-auto">
  <form method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Заголовок</label>
      <input type="text" class="form-control" id="content" name="content" value="{{ post.content}}" required>
      <input type="text" class="form-control" id="title" name="title" value="{{ post.title}}" required>
      <input type="text" class="form-control" id="title" name="title" value="{{ category.title }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
{%endblock%}