{% extends 'base.html' %}

{% block content %}
<div class="text-center h1"> Главная страница</div>
<header>
    <div class="nav-scroller border py-1 mb-3">
        <nav class="nav  nav-underline justify-content-between">
            <a class="nav-item nav-link link-underline link-body-emphasis" href="category">Категории</a>
            <a class="nav-item nav-link link-underline link-body-emphasis" href="category">О нас </a>
            <a class=" nav-item nav-link link-underline link-body-emphasis" href="category">Главное</a>
            <a class=" nav-item nav-link link-underline link-body-emphasis" href="category">Наша команда</a>
          </nav>
    </div>
      
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
      <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>
  </header>
  
{% endblock %}