
{% extends 'base.html' %}
{%block title%}Наши категории{%endblock%}
{% block content %}
<div class="nav-scroller border-bottom  py-1 mb-3">
  <nav class="nav  nav-underline justify-content-between">
  {% for category in categorys %}
  <a href='/category/{{category.id}}'  class="nav-item nav-link link-underline link-body- active ">{{category.title}}</a>
  {% endfor %}
</nav>
</div>
<div class="text-center border-bottom h1">
    Посты
</div>
<div class="col text-center">
    <div class="border-bottom"><a href="/post/new" class="btn btn-primary ">Добавить пост</a></div>
  </div>
  <div class="nav-scroller border-bottom  py-1 mb-3" >
    <nav class="nav  nav-underline justify-content-between">
      {% for post in posts %}
      <a href='post/{{post.id}}'  class="nav-item nav-link link-underline link-body- active ">{{post.title}}</a>
    {% endfor %}
     
    </nav>
     
    
    </div>
    
    {%endblock%}
   

  
 
